Atualiza listas metricas.json
{
  "name": "Atualiza listas metricas",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "list",
          "cachedResultName": "lista_entregas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número": "={{ $json['Número'] }}",
            "matricula_motorista": "={{ $('Execute a SQL query2').item.json.OperadorMatricula }}"
          },
          "matchingColumns": [
            "Número"
          ],
          "schema": [
            {
              "id": "Número",
              "displayName": "Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qtd",
              "displayName": "Qtd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Peso",
              "displayName": "Peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data Emissão",
              "displayName": "Data Emissão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data Baixa",
              "displayName": "Data Baixa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rota",
              "displayName": "Rota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pago",
              "displayName": "pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "metrica_da_lista",
              "displayName": "metrica_da_lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "matricula_motorista",
              "displayName": "matricula_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "obs",
              "displayName": "obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "revisado",
              "displayName": "revisado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        0
      ],
      "id": "ff49ce1c-d500-4102-8677-d92080dadebe",
      "name": "Update rows in a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    \"Número\",\n    CASE \n        WHEN \"Rota\" ILIKE '%volumoso%' THEN 'Volumoso'\n        ELSE 'Por Entrega'\n    END AS \"Status\"\nFROM lista_entregas\n  WHERE revisado = false\n  AND (\"Número\" = {{ $json['Número'] }});",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        -192
      ],
      "id": "64e2afac-86f8-4760-bb4e-9558e2173efe",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "list",
          "cachedResultName": "lista_entregas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número": "={{ $json['Número'] }}",
            "metrica_da_lista": "={{ $json.Status }}"
          },
          "matchingColumns": [
            "Número"
          ],
          "schema": [
            {
              "id": "Número",
              "displayName": "Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qtd",
              "displayName": "Qtd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Peso",
              "displayName": "Peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data Emissão",
              "displayName": "Data Emissão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data Baixa",
              "displayName": "Data Baixa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rota",
              "displayName": "Rota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pago",
              "displayName": "pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "metrica_da_lista",
              "displayName": "metrica_da_lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "matricula_motorista",
              "displayName": "matricula_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "obs",
              "displayName": "obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "revisado",
              "displayName": "revisado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        -96
      ],
      "id": "6142601b-aba4-4db7-abc5-299e0a079222",
      "name": "Update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1088,
        -160
      ],
      "id": "9e943357-1ab5-4b28-938c-649b27e0591e",
      "name": "When Executed by Another Workflow",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "name"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Número",
              "value": "={{ $json['Número'] }}"
            },
            {
              "column": "revisado",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        -32
      ],
      "id": "a8398708-1b61-4732-b891-c75f3feec959",
      "name": "Select rows from a table1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        -32
      ],
      "id": "c0d30020-8f36-4d64-bac3-7c740eaba077",
      "name": "Loop Over Items",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -80,
        -176
      ],
      "id": "58a249ca-d189-433a-a99e-4b3dbb5009d1",
      "name": "No Operation, do nothing",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        -192
      ],
      "id": "5ac88c5b-f554-4838-8481-b91463efe3e1",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        976,
        -288
      ],
      "id": "00368223-1d5d-4f8f-91a4-95dbb4b8d3c3",
      "name": "No Operation, do nothing1",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    le.\"Número\",\n    le.\"matricula_motorista\",\n    re.\"Lista\",\n    MIN(re.\"OperadorMatricula\") AS \"OperadorMatricula\"\nFROM lista_entregas le\nJOIN relatorioentrega_export re\n  ON CAST(le.\"Número\" AS TEXT) = re.\"Lista\"\nWHERE le.revisado = false\n  AND (le.\"matricula_motorista\" IS NULL OR le.\"matricula_motorista\" = '')\nGROUP BY le.\"Número\", le.\"matricula_motorista\", re.\"Lista\"\nHAVING COUNT(DISTINCT re.\"OperadorMatricula\") = 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -704,
        -160
      ],
      "id": "b49e183e-8d7f-4b90-8f35-ffcf9ac81a82",
      "name": "Execute a SQL query2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "name"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "metrica_da_lista",
              "condition": "IS NULL"
            },
            {
              "column": "revisado",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        -160
      ],
      "id": "90bbc4f9-a7eb-4465-9e5d-befa8d787f86",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "OperadorMatricula": 135439,
          "OperadorNome": "diego magno lima santos",
          "NCTE": "18015952809981",
          "QPacotes": 1,
          "Peso": "0.14",
          "Cep": "41305410",
          "Evento": "entrega",
          "Data": "2026-03-28T03:00:00.000Z",
          "Hora": "16:18:21",
          "TaxaEntrega": "4.00",
          "TaxaInterior": "0.00",
          "Expedidor": "in glow brasil intermediacao de negocios ltda  hd 040404",
          "Lista": "2576",
          "Tarifa": "C",
          "BairroDestino": "Valéria",
          "CidadeDestino": "Salvador",
          "Modalidade": "PACKAGE",
          "NomePonto": "LM SALVADOR 06",
          "RazaoPonto": "INTUITIVA SERVICOS LOGISTICOS LTDA",
          "controle_duplicidade": "135439257618015952809981"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "090c9904-0704-4357-abc5-fc6494ea1903",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1f2216d7347cf769726185925ae07114c4973b80c7c25593f572a165e156a73"
  },
  "nodeGroups": [],
  "id": "NJw5empCf962Tl2B",
  "tags": []
}