Listas e Ctes.json
{
  "name": "Listas e Ctes",
  "nodes": [
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Envio de Dados das Listas</title>\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n  <style>\n    body { padding: 20px; background: #f8f9fa; }\n    .preview-table { max-height: 650px; overflow: auto; }\n    textarea { font-family: monospace; font-size: 14px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h2 class=\"mb-4\">📦 Envio de Listas + Motorista + CTes</h2>\n\n    <!-- ETAPA 1 -->\n    <div class=\"card mb-5\">\n      <div class=\"card-header bg-primary text-white\">\n        <h5>1️⃣ Etapa 1 – Cole os dados das Listas</h5>\n      </div>\n      <div class=\"card-body\">\n        <textarea id=\"entradaListas\" class=\"form-control\" rows=\"15\" placeholder=\"Cole aqui a tabela completa...\"></textarea>\n        <button class=\"btn btn-primary mt-3\" onclick=\"processarEEnviarListas()\">Enviar Listas para o Banco</button>\n      </div>\n    </div>\n\n    <!-- NOVA SEÇÃO: GERENCIAMENTO -->\n    <div class=\"card mb-5\">\n      <div class=\"card-header bg-danger text-white\">\n        <h5>⚠️ Gerenciamento de Listas – Reset / Apagar</h5>\n      </div>\n      <div class=\"card-body\">\n        <div class=\"row g-3 align-items-end\">\n          <div class=\"col-md-4\">\n            <label class=\"form-label fw-bold\">Número da Lista</label>\n            <input type=\"number\" id=\"numeroListaGestao\" class=\"form-control\" placeholder=\"Ex: 1458\">\n          </div>\n          <div class=\"col-md-8\">\n            <button class=\"btn btn-warning me-2\" onclick=\"resetarLista()\">\n              🔄 Resetar Lista\n            </button>\n            <button class=\"btn btn-danger\" onclick=\"apagarLista()\">\n              🗑️ Apagar Lista\n            </button>\n            <small class=\"text-muted d-block mt-2\">\n              O \n            </small>\n          </div>\n        </div>\n      </div>\n    </div>\n\n    <!-- ETAPA 2 -->\n    <div class=\"card\">\n      <div class=\"card-header bg-success text-white d-flex justify-content-between\">\n        <h5>2️⃣ Etapa 2 – Listas Pendentes</h5>\n        <button class=\"btn btn-light btn-sm\" onclick=\"carregarListasPendentes()\">🔄 Atualizar Lista</button>\n      </div>\n      <div class=\"card-body\">\n        <div id=\"previewPendentes\" class=\"preview-table\">\n          <p class=\"text-muted text-center py-4\">Clique em Atualizar Lista...</p>\n        </div>\n      </div>\n    </div>\n  </div>\n<!-- Modal Informar Métrica (novo - obrigatório) -->\n  <div class=\"modal fade\" id=\"modalMetrica\" tabindex=\"-1\">\n    <div class=\"modal-dialog\">\n      <div class=\"modal-content\">\n        <div class=\"modal-header\">\n          <h5 class=\"modal-title\">Informar Métrica – Lista <span id=\"modalNumListaMetrica\" class=\"text-primary\"></span></h5>\n          <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\"></button>\n        </div>\n        <div class=\"modal-body\">\n          <label class=\"form-label\">Selecione a Métrica da Lista:</label>\n          <select id=\"selectMetrica\" class=\"form-select\">\n            <option value=\"\">Selecione...</option>\n            <option value=\"Por Entrega\">Por Entrega</option>\n            <option value=\"Volumoso\">Volumoso</option>\n            <option value=\"Apha\">Apha</option>\n            <option value=\"Baixa\">Baixa</option>\n          </select>\n        </div>\n        <div class=\"modal-footer\">\n          <button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Cancelar</button>\n          <button type=\"button\" class=\"btn btn-success\" onclick=\"salvarMetrica()\">✅ Confirmar Métrica</button>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <!-- Modal Motorista -->\n  <div class=\"modal fade\" id=\"modalMotorista\" tabindex=\"-1\">\n    <div class=\"modal-dialog\">\n      <div class=\"modal-content\">\n        <div class=\"modal-header\">\n          <h5 class=\"modal-title\">Definir Motorista – Lista <span id=\"modalNumListaMotor\" class=\"text-primary\"></span></h5>\n          <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\"></button>\n        </div>\n        <div class=\"modal-body\">\n          <label class=\"form-label\">Selecione o Motorista:</label>\n          <select id=\"selectMotorista\" class=\"form-select\" size=\"10\"></select>\n        </div>\n        <div class=\"modal-footer\">\n          <button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Cancelar</button>\n          <button type=\"button\" class=\"btn btn-success\" onclick=\"salvarMotorista()\">✅ Confirmar Motorista</button>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <!-- Modal CTes -->\n  <div class=\"modal fade\" id=\"modalCtes\" tabindex=\"-1\">\n    <div class=\"modal-dialog modal-xl\">\n      <div class=\"modal-content\">\n        <div class=\"modal-header\">\n          <h5 class=\"modal-title\">Adicionar CTes – Lista <span id=\"modalNumListaCtes\" class=\"text-primary\"></span></h5>\n          <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\"></button>\n        </div>\n        <div class=\"modal-body\">\n          <p class=\"text-muted\">Cole o relatório de CTes desta lista:</p>\n          <textarea id=\"entradaCtesModal\" class=\"form-control\" rows=\"16\"></textarea>\n        </div>\n        <div class=\"modal-footer\">\n          <button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Cancelar</button>\n          <button type=\"button\" class=\"btn btn-success\" onclick=\"processarCtesModal()\">✅ Salvar CTes</button>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js\"></script>\n  <script>\n    const WEBHOOK_LISTAS = \"https://webhook.sactudo.com.br/webhook/listass\";\n    const WEBHOOK_PENDENTES = \"https://webhook.sactudo.com.br/webhook/listas-pendentes\";\n    const WEBHOOK_MOTORISTAS = \"https://webhook.sactudo.com.br/webhook/matricula_lista\";\n    const WEBHOOK_MATRICULA = \"https://webhook.sactudo.com.br/webhook/matricula_lista\";\n    const WEBHOOK_METRICA = \"https://webhook.sactudo.com.br/webhook/metrica_lista\";\n    const WEBHOOK_CTES = \"https://webhook.sactudo.com.br/webhook/ctes\";\n    const WEBHOOK_RESET = \"https://webhook.sactudo.com.br/webhook/listas-reset\";  // Novo webhook\n\n    let listaAtual = null;\n    let matriculaAtualDaLista = null;\n    let metricaAtualDaLista = null;\n\n    // ====================== FUNÇÕES EXISTENTES (mantidas iguais) ======================\n    // ====================== FUNÇÃO QUE VOCÊ FORNECEU (integrada) ======================\n    function parseListas(texto) {\n      const linhas = texto.trim().split(\"\\n\").filter(l => l.trim() !== \"\");\n      const dados = [];\n      const erros = [];\n      const startIndex = linhas[0].toLowerCase().includes(\"número\") ? 1 : 0;\n\n      for (let i = startIndex; i < linhas.length; i++) {\n        const linha = linhas[i].trim();\n        if (!linha) continue;\n\n        // Prioridade: split por TAB\n        let partes = linha.split(\"\\t\").map(p => p.trim());\n        // Fallback: split por 2+ espaços\n        if (partes.length < 7) {\n          partes = linha.split(/\\s{2,}/).map(p => p.trim());\n        }\n        if (partes.length < 7) {\n          erros.push(`Linha ${i + 1} incompleta (${partes.length} colunas)`);\n          continue;\n        }\n\n        try {\n          const numero = parseInt(partes[0]);\n          const qtd = parseInt(partes[1]);\n          const peso = parseFloat(partes[2].replace(\",\", \".\")) || 0;\n          const valor = parseFloat(partes[3].replace(\"R$\", \"\").replace(\".\", \"\").replace(\",\", \".\")) || 0;\n          const dataEmissao = parseDateToISO(partes[4]);\n\n          // partes[5] = Data Baixa OU \"Em aberto\"\n          const campoBaixa = partes[5] || \"\";\n          let dataBaixa = null;\n          let status = \"Em aberto\";\n          let offsetTipo = 6;\n\n          if (campoBaixa.toLowerCase().includes(\"aberto\") || campoBaixa.trim() === \"\") {\n            dataBaixa = null;\n            status = \"Em aberto\";\n            offsetTipo = 6;\n          } else if (campoBaixa.match(/^\\d{2}\\/\\d{2}\\/\\d{4}/)) {\n            dataBaixa = parseDateToISO(campoBaixa);\n            status = \"Finalizado\";\n            offsetTipo = 6;\n          }\n\n          const tipo = partes[offsetTipo] || \"\";\n          const rota = partes.slice(offsetTipo + 1).join(\" \").trim();\n\n          if (isNaN(numero) || isNaN(qtd)) {\n            erros.push(`Linha ${i + 1} com número/qtd inválido`);\n            continue;\n          }\n\n          dados.push({\n            numero,\n            qtd,\n            peso,\n            valor,\n            data_emissao: dataEmissao,\n            data_baixa: dataBaixa,\n            status,\n            tipo,\n            rota,\n            nome_completo: null,\n            qtd_ctes: 0\n          });\n        } catch (e) {\n          erros.push(`Linha ${i + 1} erro: ${e.message}`);\n        }\n      }\n\n      if (erros.length > 0) alert(\"Erros encontrados:\\n\" + erros.join(\"\\n\"));\n      return { dados, erros };\n    }\n\n    function parseDateToISO(dateStr) {\n      if (!dateStr || dateStr.toLowerCase().includes(\"aberto\")) return null;\n      try {\n        const [data, hora] = dateStr.split(\" \");\n        const [dia, mes, ano] = data.split(\"/\");\n        const [h, m, s = \"00\"] = (hora || \"00:00:00\").split(\":\");\n        const dt = new Date(ano, mes - 1, dia, h, m, s);\n        return isNaN(dt.getTime()) ? null : dt.toISOString().replace(\"Z\", \"-03:00\");\n      } catch (e) {\n        return null;\n      }\n    }\n\n    // ====================== Envio das Listas ======================\n    function processarEEnviarListas() {\n      const texto = document.getElementById(\"entradaListas\").value.trim();\n      if (!texto) return alert(\"Cole os dados das listas!\");\n\n      const { dados } = parseListas(texto);\n      if (dados.length === 0) return;\n\n      fetch(WEBHOOK_LISTAS, {\n        method: \"POST\",\n        headers: { \"Content-Type\": \"application/json\" },\n        body: JSON.stringify(dados)\n      })\n      .then(r => r.text())\n      .then(txt => {\n        alert(`✅ ${dados.length} listas enviadas com sucesso!\\n${txt}`);\n        document.getElementById(\"entradaListas\").value = \"\";\n      })\n      .catch(err => alert(\"Erro no envio: \" + err.message));\n    }\n\n\n    // ====================== ETAPA 2 ======================\n    async function carregarListasPendentes() {\n      const container = document.getElementById(\"previewPendentes\");\n      container.innerHTML = `<div class=\"text-center py-5\"><div class=\"spinner-border\"></div><p>Carregando...</p></div>`;\n\n      try {\n        const resp = await fetch(WEBHOOK_PENDENTES);\n        const listas = await resp.json();\n        const pendentes = listas.filter(l => l[\"qtd_ctes\"] == null || l[\"qtd_ctes\"] === 0);\n\n        if (pendentes.length === 0) {\n          container.innerHTML = `<div class=\"alert alert-success\">Todas as listas já possuem CTes.</div>`;\n          return;\n        }\n\n        let html = `<table class=\"table table-hover table-striped\"><thead class=\"table-dark\"><tr>\n          <th>Número</th><th>Qtd</th><th>Data Emissão</th><th>Status</th><th>Rota</th><th>Métrica</th><th>Motorista</th><th class=\"text-center\">Ações</th>\n        </tr></thead><tbody>`;\n\n        pendentes.forEach(l => {\n          const temMotorista = !!l[\"matricula_motorista\"];\n          const temMetrica = !!l[\"metrica_da_lista\"];\n          html += `<tr>\n            <td><strong>${l[\"Número\"]}</strong></td>\n            <td>${l[\"Qtd\"]}</td>\n            <td>${l[\"Data Emissão\"] ? l[\"Data Emissão\"].substring(0,16).replace(\"T\",\" \") : \"\"}</td>\n            <td>${l[\"status\"] || \"\"}</td>\n            <td>${l[\"Rota\"]}</td>\n            <td>${l[\"metrica_da_lista\"]}</td>\n            <td>${l[\"nome_completo\"] || \"—\"}</td>\n            <td class=\"text-center\">\n              <button class=\"btn btn-sm btn-info\" onclick=\"abrirModalMetrica(${l[\"Número\"]}); event.stopImmediatePropagation();\">Métrica</button>\n              <button class=\"btn btn-sm btn-warning\" onclick=\"abrirModalMotorista(${l[\"Número\"]}); event.stopImmediatePropagation();\">Motorista</button>\n              <button class=\"btn btn-sm ${temMotorista && temMetrica ? 'btn-success' : 'btn-secondary'}\" \n                      ${temMotorista && temMetrica ? '' : 'disabled'}\n                      onclick=\"abrirModalCtes(${l[\"Número\"]}); event.stopImmediatePropagation();\">CTes</button>\n            </td>\n          </tr>`;\n        });\n\n        html += `</tbody></table>`;\n        container.innerHTML = html;\n      } catch (e) {\n        container.innerHTML = `<div class=\"alert alert-danger\">Nenhuma lista pendente.</div>`;\n      }\n    }\n\n    // ====================== Novo Modal: Métrica ======================\n    function abrirModalMetrica(numero) {\n      listaAtual = numero;\n      document.getElementById(\"modalNumListaMetrica\").textContent = numero;\n      document.getElementById(\"selectMetrica\").value = \"\";\n      new bootstrap.Modal(document.getElementById(\"modalMetrica\")).show();\n    }\n\n   async function salvarMetrica() {\n  const metrica = document.getElementById(\"selectMetrica\").value;\n  if (!metrica) return alert(\"Selecione uma métrica!\");\n\n  metricaAtualDaLista = metrica;\n\n  try {\n    await fetch(WEBHOOK_METRICA, {\n      method: \"POST\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({ numero_lista: listaAtual, metrica_da_lista: metrica })\n    });\n    alert(`✅ Métrica \"${metrica}\" salva!`);\n    bootstrap.Modal.getInstance(document.getElementById(\"modalMetrica\")).hide();\n    setTimeout(carregarListasPendentes, 500);\n  } catch (e) {\n    alert(\"Erro ao salvar métrica.\");\n  }\n}\n\n    // ====================== Modal Motorista ======================\n    async function abrirModalMotorista(numero) {\n      listaAtual = numero;\n      document.getElementById(\"modalNumListaMotor\").textContent = numero;\n      const select = document.getElementById(\"selectMotorista\");\n      select.innerHTML = `<option>Carregando...</option>`;\n      try {\n        const resp = await fetch(WEBHOOK_MOTORISTAS);\n        const motoristas = await resp.json();\n        let options = `<option value=\"\">Selecione...</option>`;\n        motoristas.forEach(m => {\n          options += `<option value=\"${m.OperadorMatricula}\">${m.OperadorMatricula} - ${m.nome_completo}</option>`;\n        });\n        select.innerHTML = options;\n      } catch (e) {}\n      new bootstrap.Modal(document.getElementById(\"modalMotorista\")).show();\n    }\n\n    async function salvarMotorista() {\n      const matricula = document.getElementById(\"selectMotorista\").value;\n      if (!matricula) return alert(\"Selecione um motorista!\");\n      matriculaAtualDaLista = parseInt(matricula);\n      try {\n        await fetch(WEBHOOK_MATRICULA, {\n          method: \"POST\",\n          headers: { \"Content-Type\": \"application/json\" },\n          body: JSON.stringify({ numero_lista: listaAtual, OperadorMatricula: matriculaAtualDaLista })\n        });\n        alert(\"✅ Motorista salvo!\");\n        bootstrap.Modal.getInstance(document.getElementById(\"modalMotorista\")).hide();\n        setTimeout(carregarListasPendentes, 600);\n      } catch (e) {\n        alert(\"Erro ao salvar motorista.\");\n      }\n    }\n\n    // ====================== Modal CTes ======================\n    async function abrirModalCtes(numero) {\n      listaAtual = numero;\n      document.getElementById(\"modalNumListaCtes\").textContent = numero;\n      document.getElementById(\"entradaCtesModal\").value = \"\";\n      try {\n        const resp = await fetch(WEBHOOK_PENDENTES);\n        const listas = await resp.json();\n        const listaInfo = listas.find(l => l[\"Número\"] == numero);\n        matriculaAtualDaLista = listaInfo && listaInfo[\"matricula_motorista\"] ? parseInt(listaInfo[\"matricula_motorista\"]) : null;\n      } catch (e) {}\n      new bootstrap.Modal(document.getElementById(\"modalCtes\")).show();\n    }\n\n    async function processarCtesModal() {\n      const texto = document.getElementById(\"entradaCtesModal\").value.trim();\n      if (!texto) return alert(\"Cole os CTes!\");\n      if (!matriculaAtualDaLista) return alert(\"❌ Defina o motorista antes!\");\n\n      const ctes = parseCtes(texto, listaAtual);\n      if (ctes.length === 0) return alert(\"Nenhum CTe válido!\");\n\n      try {\n        await fetch(WEBHOOK_CTES, {\n          method: \"POST\",\n          headers: { \"Content-Type\": \"application/json\" },\n          body: JSON.stringify(ctes)\n        });\n        alert(`✅ ${ctes.length} CTes salvos!`);\n        bootstrap.Modal.getInstance(document.getElementById(\"modalCtes\")).hide();\n        setTimeout(carregarListasPendentes, 700);\n      } catch (e) {\n        alert(\"Erro ao salvar CTes.\");\n      }\n    }\n\n   function parseCtes(texto, numeroLista) {\n  const linhas = texto.split(\"\\n\").filter(l => l.trim() !== \"\");\n  const ctes = [];\n\n  const startIndex = linhas[0].toLowerCase().includes(\"remessa\") ? 1 : 0;\n\n  linhas.slice(startIndex).forEach((linha, idx) => {\n    let partes = linha.split(\"\\t\").map(p => p.trim());\n    if (partes.length < 2) partes = linha.split(/\\s{2,}/).map(p => p.trim());\n\n    // Mínimo: remessa + destinatário (tolera linhas sem telefone/data)\n    if (partes.length < 6) {\n      console.warn(`CTe linha ${idx + 1 + startIndex} ignorada:`, linha);\n      return;\n    }\n\n    const dataAgendada = partes[7] && partes[7].trim() !== \"\" ? partes[7].trim() : null;\n\n    ctes.push({\n      remessa:             partes[0],\n      endereco:            partes[1],\n      bairro:              partes[2],\n      cidade:              partes[3],\n      cep:                 partes[4],\n      destinatario:        partes[5],\n      telefone:            partes[6] || null,\n      data_agendada:       dataAgendada,\n      numero_lista:        numeroLista,\n      matricula_motorista: matriculaAtualDaLista,\n      metrica_da_lista:    metricaAtualDaLista     // ← estava faltando\n    });\n  });\n\n  return ctes;\n}\n\n    // ====================== NOVAS FUNÇÕES ======================\n    async function resetarLista() {\n      const numero = document.getElementById(\"numeroListaGestao\").value.trim();\n      if (!numero) return alert(\"❌ Digite o número da lista!\");\n\n      if (!confirm(`Deseja realmente RESETAR a lista ${numero}?`)) return;\n\n      try {\n        const response = await fetch(WEBHOOK_RESET, {\n          method: \"POST\",\n          headers: { \"Content-Type\": \"application/json\" },\n          body: JSON.stringify({\n            numero_lista: parseInt(numero),\n            acao: \"reset\"\n          })\n        });\n\n        const result = await response.text();\n        alert(`✅ Reset solicitado com sucesso!\\nLista: ${numero}\\n${result}`);\n        document.getElementById(\"numeroListaGestao\").value = \"\";\n        setTimeout(carregarListasPendentes, 800);\n      } catch (err) {\n        alert(\"Erro ao resetar lista: \" + err.message);\n      }\n    }\n\n    async function apagarLista() {\n      const numero = document.getElementById(\"numeroListaGestao\").value.trim();\n      if (!numero) return alert(\"❌ Digite o número da lista!\");\n\n      if (!confirm(`⚠️ DESEJA REALMENTE APAGAR a lista ${numero}?\\n\\nEsta ação não pode ser desfeita!`)) return;\n\n      try {\n        const response = await fetch(WEBHOOK_RESET, {\n          method: \"POST\",\n          headers: { \"Content-Type\": \"application/json\" },\n          body: JSON.stringify({\n            numero_lista: parseInt(numero),\n            acao: \"delete\"\n          })\n        });\n\n        const result = await response.text();\n        alert(`🗑️ Exclusão solicitada com sucesso!\\nLista: ${numero}\\n${result}`);\n        document.getElementById(\"numeroListaGestao\").value = \"\";\n        setTimeout(carregarListasPendentes, 800);\n      } catch (err) {\n        alert(\"Erro ao apagar lista: \" + err.message);\n      }\n    }\n\n    // ====================== RESTO DO SEU CÓDIGO (modais, parseCtes, etc.) ======================\n    // ... cole aqui todo o restante do script que você já tinha ...\n\n    window.onload = carregarListasPendentes;\n  </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1648,
        64
      ],
      "id": "16cc401f-e919-4723-9c27-f494c86ea470",
      "name": "HTML"
    },
    {
      "parameters": {
        "path": "listas-motorista",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1872,
        64
      ],
      "id": "e4ed27f0-7ab2-4898-9695-68604e23a308",
      "name": "Webhook2",
      "webhookId": "78c0ebb3-28bf-4ad8-9e4c-a52c1ef9ecdb"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.html}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1424,
        64
      ],
      "id": "f5b2c21d-1551-4970-9dcf-4c52f77e8020",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "listass",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1872,
        432
      ],
      "id": "efc920f3-049a-475b-9425-30034679601f",
      "name": "Webhook3",
      "webhookId": "78c0ebb3-28bf-4ad8-9e4c-a52c1ef9ecdb"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1424,
        432
      ],
      "id": "e7456b2e-8667-43f4-88c6-dfe8b3c95f69",
      "name": "Loop Over Items7",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1200,
        288
      ],
      "id": "47671646-ec2a-4f26-b9df-d8b5d0309ac0",
      "name": "No Operation, do nothing4",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "list",
          "cachedResultName": "lista_entregas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Qtd": "={{ $json.qtd }}",
            "Peso": "={{ $json.peso }}",
            "Valor": "={{ $json.valor }}",
            "Número": "={{ $json.numero }}",
            "status": "={{ $json.status }}",
            "Tipo": "={{ $json.tipo }}",
            "Rota": "={{ $json.rota }}",
            "Data Emissão": "={{ $json.data_emissao}}",
            "Data Baixa": "={{ $json.data_baixa }}"
          },
          "matchingColumns": [
            "Número"
          ],
          "schema": [
            {
              "id": "Número",
              "displayName": "Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qtd",
              "displayName": "Qtd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Peso",
              "displayName": "Peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Data Emissão",
              "displayName": "Data Emissão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Data Baixa",
              "displayName": "Data Baixa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Rota",
              "displayName": "Rota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "pago",
              "displayName": "pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "metrica_da_lista",
              "displayName": "metrica_da_lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "matricula_motorista",
              "displayName": "matricula_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "obs",
              "displayName": "obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "revisado",
              "displayName": "revisado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ok_motorista",
              "displayName": "ok_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "revisao_motorista",
              "displayName": "revisao_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "qtd_ctes",
              "displayName": "qtd_ctes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1200,
        480
      ],
      "id": "c2faabfc-ecb6-453d-9eaf-708aebcfef04",
      "name": "Insert or update rows in a table1",
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1648,
        432
      ],
      "id": "96948528-30bd-4943-b4f8-dcd6ea62b08a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ctes",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1872,
        1200
      ],
      "id": "f5c1c5a7-51d0-418d-8695-e9d0873bee30",
      "name": "Webhook",
      "webhookId": "78c0ebb3-28bf-4ad8-9e4c-a52c1ef9ecdb"
    },
    {
      "parameters": {
        "path": "listas-pendentes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1872,
        2624
      ],
      "id": "f41530f7-1361-4896-a890-ad20b0463a52",
      "name": "Webhook1",
      "webhookId": "78c0ebb3-28bf-4ad8-9e4c-a52c1ef9ecdb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    lista_entregas.*,\n    matriculos_jad.nome_completo\nFROM lista_entregas\nLEFT JOIN matriculos_jad\n    ON lista_entregas.matricula_motorista = CAST(matriculos_jad.\"OperadorMatricula\" AS varchar)\nWHERE lista_entregas.qtd_ctes IS NULL \n   OR lista_entregas.qtd_ctes = 0;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1648,
        2624
      ],
      "id": "74767b17-5d46-4839-a6e3-98dbc805577f",
      "name": "Execute a SQL query",
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1280,
        2624
      ],
      "id": "bf8ed40e-bbb7-4cb3-bcf0-34483bb0e870",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1200,
        1200
      ],
      "id": "13084371-496a-44fe-9aa3-95c37bbd46f5",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1648,
        1200
      ],
      "id": "264752ea-c380-4a4d-9d6b-f93ba4f39ddd",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "15889583-0ea1-4b59-8697-c8d41992c04f",
              "leftValue": "={{ $json.remessa }}",
              "rightValue": "Remessa",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1424,
        1200
      ],
      "id": "a6efe2c3-2b7d-4dd5-b07b-cf1c90636d03",
      "name": "Filter"
    },
    {
      "parameters": {
        "path": "matricula_lista",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1872,
        2848
      ],
      "id": "b0aa286d-c9f1-476c-ad1e-4caad9374cda",
      "name": "Webhook4",
      "webhookId": "c11eef82-d802-4cb3-b0c4-d2650c51f3e5"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": []
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1424,
        2848
      ],
      "id": "55f97927-bd06-4bd6-a84d-107470229127",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "matriculos_jad",
          "mode": "list",
          "cachedResultName": "matriculos_jad"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "condition": "IS NOT NULL"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "nome_completo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1648,
        2848
      ],
      "id": "cdfdc78b-8753-4c10-8792-a9c326fed00a",
      "name": "listar_motoristas",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "matricula_lista",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1872,
        2016
      ],
      "id": "7706280e-8556-42f8-bdd9-f15202e97022",
      "name": "Webhook5",
      "webhookId": "78c0ebb3-28bf-4ad8-9e4c-a52c1ef9ecdb"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "list",
          "cachedResultName": "lista_entregas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número": "={{ $json.body.numero_lista }}",
            "matricula_motorista": "={{ $json.body.OperadorMatricula }}"
          },
          "matchingColumns": [
            "Número"
          ],
          "schema": [
            {
              "id": "Número",
              "displayName": "Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qtd",
              "displayName": "Qtd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Peso",
              "displayName": "Peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Data Emissão",
              "displayName": "Data Emissão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Data Baixa",
              "displayName": "Data Baixa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Rota",
              "displayName": "Rota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "pago",
              "displayName": "pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "metrica_da_lista",
              "displayName": "metrica_da_lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "matricula_motorista",
              "displayName": "matricula_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "obs",
              "displayName": "obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "revisado",
              "displayName": "revisado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ok_motorista",
              "displayName": "ok_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "revisao_motorista",
              "displayName": "revisao_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "qtd_ctes",
              "displayName": "qtd_ctes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1632,
        2016
      ],
      "id": "1753c900-347b-4f4a-a515-2527618e37fa",
      "name": "Insert or update rows in a table2",
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -976,
        928
      ],
      "id": "fdbfce6a-ea78-48e8-973a-2b919fa20abb",
      "name": "No Operation, do nothing",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorioentrega_export",
          "mode": "list",
          "cachedResultName": "relatorioentrega_export"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "NCTE",
              "value": "={{ $json.remessa }}"
            },
            {
              "column": "OperadorMatricula",
              "value": "={{ $json.matricula_motorista }}"
            },
            {
              "column": "Lista",
              "value": "={{ $json.numero_lista.toString()}}"
            },
            {
              "column": "Evento",
              "condition": "IS NOT NULL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -976,
        1136
      ],
      "id": "6995e0fa-0f21-464b-80bd-b096a906e8d8",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorioentrega_export",
          "mode": "list",
          "cachedResultName": "relatorioentrega_export"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cep": "={{ $('Loop Over Items1').item.json.cep }}",
            "NCTE": "={{ $('Loop Over Items1').item.json.remessa }}",
            "Lista": "={{ $('Loop Over Items1').item.json.numero_lista }}",
            "BairroDestino": "={{ $('Loop Over Items1').item.json.bairro }}",
            "CidadeDestino": "={{ $('Loop Over Items1').item.json.cidade }}",
            "controle_duplicidade": "={{ $('Loop Over Items1').item.json.matricula_motorista }}{{ $('Loop Over Items1').item.json.numero_lista }}{{ $('Loop Over Items1').item.json.remessa }}",
            "OperadorMatricula": "={{ $('Loop Over Items1').item.json.matricula_motorista }}",
            "Evento": "Em rota"
          },
          "matchingColumns": [
            "controle_duplicidade"
          ],
          "schema": [
            {
              "id": "OperadorMatricula",
              "displayName": "OperadorMatricula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "OperadorNome",
              "displayName": "OperadorNome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "NCTE",
              "displayName": "NCTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "QPacotes",
              "displayName": "QPacotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Peso",
              "displayName": "Peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Cep",
              "displayName": "Cep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "TaxaEntrega",
              "displayName": "TaxaEntrega",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "TaxaInterior",
              "displayName": "TaxaInterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Expedidor",
              "displayName": "Expedidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Lista",
              "displayName": "Lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Tarifa",
              "displayName": "Tarifa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "BairroDestino",
              "displayName": "BairroDestino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "CidadeDestino",
              "displayName": "CidadeDestino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Modalidade",
              "displayName": "Modalidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "NomePonto",
              "displayName": "NomePonto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "RazaoPonto",
              "displayName": "RazaoPonto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "controle_duplicidade",
              "displayName": "controle_duplicidade",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        1216
      ],
      "id": "ffee736b-bc41-48c3-b959-1e3691580b7d",
      "name": "Insert or update rows in a table3",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9e20f6c-62eb-47eb-be95-2efde89a6e67",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "novo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "614ef793-215c-42d6-af32-e7159580a606",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "Em rota",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Em rota"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4bcd120e-7c8e-4fa7-8ca9-d76a4a49f642",
                    "leftValue": "={{ $json.Evento }}",
                    "rightValue": "Em rota",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outro"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -752,
        1184
      ],
      "id": "8436ad59-a83a-4bda-a757-acdc3f68d1f2",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    \"Lista\",\n    COUNT(*) AS total\nFROM \"relatorioentrega_export\"\nWHERE \"Lista\" = {{ $json.Lista }}::varchar\nGROUP BY \"Lista\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        928
      ],
      "id": "1d5be358-67a3-48e0-838c-4519ed596830",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "list",
          "cachedResultName": "lista_entregas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número": "={{ $json.Lista }}",
            "qtd_ctes": "={{ $json.total }}"
          },
          "matchingColumns": [
            "Número"
          ],
          "schema": [
            {
              "id": "Número",
              "displayName": "Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qtd",
              "displayName": "Qtd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Peso",
              "displayName": "Peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data Emissão",
              "displayName": "Data Emissão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data Baixa",
              "displayName": "Data Baixa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rota",
              "displayName": "Rota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pago",
              "displayName": "pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "metrica_da_lista",
              "displayName": "metrica_da_lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "matricula_motorista",
              "displayName": "matricula_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "obs",
              "displayName": "obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "revisado",
              "displayName": "revisado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ok_motorista",
              "displayName": "ok_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "revisao_motorista",
              "displayName": "revisao_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "qtd_ctes",
              "displayName": "qtd_ctes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -528,
        928
      ],
      "id": "e1105fa5-c12c-4ab0-ba8c-c6a712c8e086",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "metrica_lista",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1872,
        2400
      ],
      "id": "65da1fab-ef9b-4959-ac52-133b1e93ff55",
      "name": "Webhook6",
      "webhookId": "78c0ebb3-28bf-4ad8-9e4c-a52c1ef9ecdb"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "list",
          "cachedResultName": "lista_entregas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número": "={{ $json.body.numero_lista }}",
            "metrica_da_lista": "={{ $json.body.metrica_da_lista }}"
          },
          "matchingColumns": [
            "Número"
          ],
          "schema": [
            {
              "id": "Número",
              "displayName": "Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qtd",
              "displayName": "Qtd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Peso",
              "displayName": "Peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Data Emissão",
              "displayName": "Data Emissão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Data Baixa",
              "displayName": "Data Baixa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Rota",
              "displayName": "Rota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "pago",
              "displayName": "pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "metrica_da_lista",
              "displayName": "metrica_da_lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "matricula_motorista",
              "displayName": "matricula_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "obs",
              "displayName": "obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "revisado",
              "displayName": "revisado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ok_motorista",
              "displayName": "ok_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "revisao_motorista",
              "displayName": "revisao_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "qtd_ctes",
              "displayName": "qtd_ctes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1648,
        2400
      ],
      "id": "c43c4a74-b052-42d6-bb08-9ab7cc198132",
      "name": "Insert or update rows in a table",
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorioentrega_export",
          "mode": "list",
          "cachedResultName": "relatorioentrega_export"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Evento",
              "value": "Em rota"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        1712
      ],
      "id": "9fbbdb44-1e3b-4a82-b62b-aa88cbe5fdd3",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "consulta",
          "mode": "list",
          "cachedResultName": "consulta"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Código",
              "value": "={{ $json.NCTE }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        1712
      ],
      "id": "cac33815-603d-4a3e-9655-a35b94f45111",
      "name": "Select rows from a table2",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorioentrega_export",
          "mode": "list",
          "cachedResultName": "relatorioentrega_export"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "controle_duplicidade",
              "value": "={{ $json.controle_duplicidade }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        1712
      ],
      "id": "610a308b-a475-4033-9629-80a3bf007c94",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorioentrega_export",
          "mode": "list",
          "cachedResultName": "relatorioentrega_export"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Lista",
              "value": "={{ $json['Número'].toString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1552,
        1728
      ],
      "id": "10be6c61-9240-48dd-ba8d-d54776174604",
      "name": "relatório de entregas Ctes",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "matriculos_jad",
          "mode": "list",
          "cachedResultName": "matriculos_jad"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "OperadorMatricula",
              "value": "={{ $('relatório de entregas Ctes').item.json.OperadorMatricula }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1056,
        1728
      ],
      "id": "8c24e1f0-14e6-46b6-9e44-408f676cf476",
      "name": "cadastro de motoristas",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorioentrega_export",
          "mode": "list",
          "cachedResultName": "relatorioentrega_export"
        },
        "where": {
          "values": [
            {
              "column": "Lista",
              "value": "={{ $('Select rows from a table1').item.json.Lista }}"
            },
            {
              "column": "NCTE",
              "value": "={{ $json['Código'] }}"
            },
            {
              "column": "Evento",
              "value": "Em rota"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        1712
      ],
      "id": "087da6dd-c597-4ad3-aac2-13d676e3a3ef",
      "name": "Select rows from a table3",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1328,
        1712
      ],
      "id": "fec074d2-f97e-47df-95ae-4b3783df5d5b",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -576,
        1728
      ],
      "id": "ec44bc04-b4c3-43bc-ad71-14c57f6b9d09",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2144,
        1728
      ],
      "id": "11972d32-8521-4b97-8074-9e7d9da5ff6a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dba0f91e-700b-449a-9dcb-a7936c91abdf",
              "name": "Lista",
              "value": "={{ $('relatório de entregas Ctes1').item.json.Lista }}",
              "type": "string"
            },
            {
              "id": "5b193e21-5a43-402b-9779-e311385d0d19",
              "name": "OperadorNome",
              "value": "={{ $json.nome_completo }}",
              "type": "string"
            },
            {
              "id": "c5b197f6-e989-42ed-9eb1-c803745e3735",
              "name": "Código",
              "value": "={{ $('relatório de status atual2').item.json['Código'] }}",
              "type": "string"
            },
            {
              "id": "ebabbb04-d975-49e1-b4c2-7946daebedb7",
              "name": "Dt Evento",
              "value": "={{ $('relatório de status atual2').item.json['Dt Evento'] }}",
              "type": "string"
            },
            {
              "id": "3caf15a0-e54f-4a27-aa7c-d6f38c822780",
              "name": "Cte_Status",
              "value": "={{ $('relatório de status atual2').item.json.Status }}",
              "type": "string"
            },
            {
              "id": "f8734a52-c1d9-49d2-a580-fb16df631941",
              "name": "Ocorrencia",
              "value": "={{ $('relatório de status atual2').item.json['Descrição'] }}",
              "type": "string"
            },
            {
              "id": "71f7e26f-ce2d-477a-aaf3-b1b7c48d549a",
              "name": "Lista_Status",
              "value": "={{ $('relatório de entregas Ctes2').item.json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        2176
      ],
      "id": "0e365331-41a1-4354-8a9f-d8d9f8c04a7d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM consulta\nWHERE \"Status\" <> 'ENTREGUE'\n  AND dt_evento_corrigido >= NOW() - INTERVAL '20 days'\n  AND \"Unidade Atual\" = 'LM SALVADOR 06';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1648,
        2176
      ],
      "id": "f0ed5882-1eea-4158-a4a8-2fa57718637c",
      "name": "relatório de status atual2",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -528,
        2176
      ],
      "id": "8c200198-c308-47a0-8324-3707ca2ff646",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1872,
        2176
      ],
      "id": "f80a38a0-ecb9-4d6d-a391-2d018c7588a8",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorioentrega_export",
          "mode": "list",
          "cachedResultName": "relatorioentrega_export"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "NCTE",
              "value": "={{ $json['Código'] }}"
            },
            {
              "column": "Evento",
              "value": "Em rota"
            },
            {
              "column": "OperadorMatricula",
              "value": "133209"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1424,
        2176
      ],
      "id": "c1577b3e-5e33-4f46-89a2-09a2971681b5",
      "name": "relatório de entregas Ctes1",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "list",
          "cachedResultName": "lista_entregas"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Número",
              "value": "={{ $json.Lista }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1200,
        2176
      ],
      "id": "e16a8e8e-b810-4197-8289-07491c416f61",
      "name": "relatório de entregas Ctes2",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "matriculos_jad",
          "mode": "list",
          "cachedResultName": "matriculos_jad"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "OperadorMatricula",
              "value": "={{ $('relatório de entregas Ctes1').item.json.OperadorMatricula }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -976,
        2176
      ],
      "id": "62416253-61c1-4503-a7d0-93942dff7457",
      "name": "cadastro de motoristas1",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        1712
      ],
      "id": "1f226e66-9f4c-46c4-8dde-ba3e4ad69f37",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "jsCode": "const dados = items.map(item => item.json);\n\n// === Cálculos gerais ===\nconst valorGeral = dados.reduce((acc, item) => acc + parseFloat(item.total_valor || 0), 0);\nconst quantidadeGeral = dados.reduce((acc, item) => acc + parseInt(item.count || 0), 0);\n\nconst quantidadeAmazon = dados\n  .filter(item => item.ClienteGrupo === \"AMAZON SERVICOS\")\n  .reduce((acc, item) => acc + parseInt(item.count || 0), 0);\n\n// === Lógica de Ordenação e Top 5 ===\nlet dadosOrdenados = [...dados].sort((a, b) =>\n  parseFloat(b.total_valor || 0) - parseFloat(a.total_valor || 0)\n);\n\nconst top5 = dadosOrdenados.slice(0, 5);\nconst outros = dadosOrdenados.slice(5);\n\nconst valorOutros = outros.reduce((acc, item) => acc + parseFloat(item.total_valor || 0), 0);\nconst quantidadeOutros = outros.reduce((acc, item) => acc + parseInt(item.count || 0), 0);\n\n// === Função resumir nome ===\nfunction resumirNome(nome) {\n  if (!nome || typeof nome !== 'string') return \"Cliente não informado\";\n  const nomeLimpo = nome.trim();\n  const palavras = nomeLimpo.split(/\\s+/);\n  return palavras.length <= 2 ? nomeLimpo : palavras.slice(0, 2).join(\" \") + \"...\";\n}\n\n// === Dados para o Gráfico ===\nconst categorias = [\n  ...top5.map(item => resumirNome(item.ClienteGrupo)),\n  `Outros (${outros.length})`\n];\n\nconst valores = [\n  ...top5.map(item => parseFloat(item.total_valor || 0)),\n  valorOutros\n];\n\n// === Resumo por Data (COM ORDENAÇÃO CRONOLÓGICA) ===\nconst porData = {};\ndados.forEach(item => {\n  const data = item.Evento || \"Sem data\";\n  if (!porData[data]) {\n    porData[data] = { quantidade: 0, valor: 0 };\n  }\n  porData[data].quantidade += parseInt(item.count || 0);\n  porData[data].valor += parseFloat(item.total_valor || 0);\n});\n\n// Ordenar as chaves de data cronologicamente\nconst porDataOrdenada = Object.entries(porData).sort((a, b) => {\n  if (a[0] === \"Sem data\") return 1;\n  if (b[0] === \"Sem data\") return -1;\n  // Converte DD/MM/YYYY para YYYYMMDD para comparação\n  const pad = (d) => d.split('/').reverse().join('');\n  return pad(a[0]).localeCompare(pad(b[0]));\n});\n\n// === HTML com Estilo Original Restaurado ===\nconst html = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Previsão de Recebimento</title>\n  <script src=\"https://cdn.jsdelivr.net/npm/apexcharts@3.52.0/dist/apexcharts.min.js\"></script>\n  <style>\n    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');\n    body {\n      font-family: 'Inter', system-ui, Arial, sans-serif;\n      background: linear-gradient(135deg, #f8fafc 0%, #e0e7ff 100%);\n      margin: 0;\n      padding: 18px 15px;\n      color: #1e2937;\n      min-height: 100vh;\n    }\n    .container { max-width: 1300px; margin: 0 auto; }\n    \n    h1 {\n      text-align: center;\n      color: #1e40af;\n      margin: 0 0 6px 0;\n      font-size: 2.05em;\n      font-weight: 700;\n    }\n    .subtitle {\n      text-align: center;\n      color: #64748b;\n      font-size: 1.05em;\n      margin-bottom: 22px;\n    }\n    .cards {\n      display: flex;\n      flex-wrap: wrap;\n      gap: 14px;\n      margin-bottom: 26px;\n      justify-content: center;\n    }\n    .card {\n      background: white;\n      border-radius: 14px;\n      padding: 20px 24px;\n      box-shadow: 0 8px 20px -4px rgba(0,0,0,0.1);\n      flex: 1;\n      min-width: 255px;\n      max-width: 315px;\n      text-align: center;\n    }\n    .card h2 { margin: 0 0 8px 0; font-size: 1em; color: #64748b; font-weight: 500; }\n    .card p { font-size: 2.25em; font-weight: 700; margin: 0; color: #1e40af; }\n\n    .section-title {\n      font-size: 1.28em;\n      color: #1e40af;\n      margin: 22px 0 10px 0;\n      font-weight: 600;\n      border-bottom: 3px solid #3b82f6;\n      padding-bottom: 6px;\n      display: inline-block;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      background: white;\n      border-radius: 14px;\n      overflow: hidden;\n      box-shadow: 0 8px 25px rgba(0,0,0,0.07);\n      margin-bottom: 30px;\n    }\n    th { background: #1e40af; color: white; padding: 14px 12px; font-weight: 600; }\n    td { padding: 12px 14px; border-bottom: 1px solid #e2e8f0; }\n    tr:hover { background: #f0f9ff; }\n\n    .text-right { text-align: right; }\n    .text-center { text-align: center; }\n    .outros-row { background: #f1f5f9; font-weight: 600; }\n    .total-row { background: #e0e7ff; font-weight: 700; font-size: 1.05em; }\n    .valor { color: #1e40af; font-weight: 600; }\n\n    .grafico-container {\n      background: white;\n      border-radius: 14px;\n      padding: 18px 20px 10px;\n      box-shadow: 0 8px 25px rgba(0,0,0,0.07);\n      margin-bottom: 26px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Previsão de Recebimento</h1>\n    <p class=\"subtitle\">Resumo consolidado por grupo de clientes</p>\n\n    <div class=\"cards\">\n      <div class=\"card\">\n        <h2>Valor Total Previsto</h2>\n        <p>R$ ${valorGeral.toLocaleString(\"pt-BR\", { minimumFractionDigits: 2 })}</p>\n      </div>\n      <div class=\"card\">\n        <h2>Quantidade Total</h2>\n        <p>${quantidadeGeral.toLocaleString(\"pt-BR\")}</p>\n      </div>\n      <div class=\"card\">\n        <h2>Quantidade Amazon</h2>\n        <p>${quantidadeAmazon.toLocaleString(\"pt-BR\")}</p>\n      </div>\n    </div>\n\n    <h2 class=\"section-title\">Valor por Grupo de Cliente</h2>\n    <div class=\"grafico-container\">\n      <div id=\"graficoClientes\" style=\"height: 320px;\"></div>\n    </div>\n\n    <h2 class=\"section-title\">Resumo por Data (Ordem Cronológica)</h2>\n    <table>\n      <thead>\n        <tr>\n          <th>Data (Evento)</th>\n          <th class=\"text-right\">Quantidade</th>\n          <th class=\"text-right\">Valor Previsto</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${porDataOrdenada.map(([data, v]) => `\n          <tr>\n            <td><strong>${data}</strong></td>\n            <td class=\"text-right\">${v.quantidade.toLocaleString(\"pt-BR\")}</td>\n            <td class=\"text-right valor\">R$ ${v.valor.toLocaleString(\"pt-BR\", { minimumFractionDigits: 2 })}</td>\n          </tr>\n        `).join('')}\n      </tbody>\n    </table>\n\n    <h2 class=\"section-title\">Top 5 Clientes + Outros</h2>\n    <table>\n      <thead>\n        <tr>\n          <th>Grupo de Cliente</th>\n          <th class=\"text-right\">Quantidade</th>\n          <th class=\"text-right\">Valor Previsto</th>\n          <th class=\"text-center\">Data</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${top5.map(item => `\n          <tr>\n            <td>${resumirNome(item.ClienteGrupo)}</td>\n            <td class=\"text-right\">${parseInt(item.count || 0).toLocaleString(\"pt-BR\")}</td>\n            <td class=\"text-right valor\">R$ ${parseFloat(item.total_valor || 0).toLocaleString(\"pt-BR\", { minimumFractionDigits: 2 })}</td>\n            <td class=\"text-center\">${item.Evento ?? \"Sem data\"}</td>\n          </tr>\n        `).join('')}\n        \n        ${outros.length > 0 ? `\n          <tr class=\"outros-row\">\n            <td>Outros Clientes (${outros.length})</td>\n            <td class=\"text-right\">${quantidadeOutros.toLocaleString(\"pt-BR\")}</td>\n            <td class=\"text-right valor\">R$ ${valorOutros.toLocaleString(\"pt-BR\", { minimumFractionDigits: 2 })}</td>\n            <td class=\"text-center\">—</td>\n          </tr>\n        ` : ''}\n\n        <tr class=\"total-row\">\n          <td>Total Geral</td>\n          <td class=\"text-right\">${quantidadeGeral.toLocaleString(\"pt-BR\")}</td>\n          <td class=\"text-right valor\">R$ ${valorGeral.toLocaleString(\"pt-BR\", { minimumFractionDigits: 2 })}</td>\n          <td class=\"text-center\">—</td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n\n  <script>\n    const options = {\n      chart: { type: 'bar', height: 320, toolbar: { show: false }, fontFamily: 'Inter, sans-serif' },\n      series: [{ name: 'Valor Previsto', data: ${JSON.stringify(valores)} }],\n      xaxis: { categories: ${JSON.stringify(categorias)}, labels: { rotate: -45, style: { fontSize: '12px' } } },\n      yaxis: { labels: { formatter: (val) => 'R$ ' + (val / 1000).toFixed(0) + 'k' } },\n      dataLabels: { enabled: true, formatter: (val) => 'R$ ' + val.toLocaleString('pt-BR') },\n      colors: ['#3b82f6'],\n      plotOptions: { bar: { borderRadius: 6, columnWidth: '65%', dataLabels: { position: 'top' } } }\n    };\n    new ApexCharts(document.querySelector(\"#graficoClientes\"), options).render();\n  </script>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        704
      ],
      "id": "5b7716c1-60ec-429c-b8e6-df819d0ca66b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.\"Status\" AS \"Status\",\n    TO_CHAR(c.\"dt_evento_corrigido\", 'DD/MM/YYYY') AS \"Evento\",\n    (string_to_array(c.\"Cliente\", ' '))[1] || ' ' || (string_to_array(c.\"Cliente\", ' '))[2] AS \"ClienteGrupo\",\n    COUNT(*) AS \"count\",\n    SUM(CAST(REPLACE(c.\"Valor Declarado\", ',', '.') AS numeric)) AS \"total_valor\"\nFROM \n    \"public\".\"consulta\" c\nWHERE \n    c.\"Unidade Atual\" = 'FL SALVADOR'\n    AND c.\"Status\" = 'TRANSFERENCIA'\nGROUP BY \n    c.\"Status\",\n    TO_CHAR(c.\"dt_evento_corrigido\", 'DD/MM/YYYY'),\n    (string_to_array(c.\"Cliente\", ' '))[1] || ' ' || (string_to_array(c.\"Cliente\", ' '))[2]\nORDER BY \n  \"Evento\" DESC,\n    \"total_valor\" DESC,\n    \"count\" DESC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1648,
        704
      ],
      "id": "524d11c2-234a-4a1b-8279-23ea65382b72",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "path": "PrevisaoRecebimento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1872,
        704
      ],
      "id": "48817042-6b2a-4708-9757-a44bca4bbdcb",
      "name": "Webhook7",
      "webhookId": "b23c190d-0b65-436c-a2d0-3e1b4ffea66c"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.html}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1200,
        704
      ],
      "id": "815a163f-ebfa-4e01-880d-79f7ba3ab885",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34b8bebc-7488-43cf-92e9-70ee5e9f6f34",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "ENTRADA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f3f6c967-4335-462e-8058-126c35b040a8",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "ENTREGUE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0a09d1d1-ec91-4699-ac76-27127a86693e",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "EM DEVOLUCAO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cf846cd7-d9c7-4de4-b90b-787f047f070b",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "TRANSFERENCIA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0fc2880b-c055-4505-b240-ddd89ea2af28",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "TRAVADO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "1bdf40a8-6c57-4957-976e-076e7e8e8681",
              "leftValue": "={{ $json['Descrição'] }}",
              "rightValue": "DEVOLUCAO POR INSTRUCAO MATRIZ",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6862b547-2b20-4bd1-9639-bbce9e88abb8",
              "leftValue": "={{ $json['Descrição'] }}",
              "rightValue": "PERDA POR PRAZO SLA / TOTAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        656,
        1712
      ],
      "id": "8027401d-9247-452f-a752-d95068b56e22",
      "name": "Filter1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dba0f91e-700b-449a-9dcb-a7936c91abdf",
              "name": "Lista",
              "value": "={{ $('relatório de entregas Ctes3').item.json.Lista }}",
              "type": "string"
            },
            {
              "id": "5b193e21-5a43-402b-9779-e311385d0d19",
              "name": "nome_completo",
              "value": "={{ $('cadastro de motoristas2').item.json.nome_completo }}",
              "type": "string"
            },
            {
              "id": "c5b197f6-e989-42ed-9eb1-c803745e3735",
              "name": "Código",
              "value": "={{ $('relatório de status Consulta1').item.json['Código'] }}",
              "type": "string"
            },
            {
              "id": "ebabbb04-d975-49e1-b4c2-7946daebedb7",
              "name": "Dt Evento",
              "value": "={{ $('relatório de status Consulta1').item.json['Dt Evento'] }}",
              "type": "string"
            },
            {
              "id": "3caf15a0-e54f-4a27-aa7c-d6f38c822780",
              "name": "status_lista",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "f8734a52-c1d9-49d2-a580-fb16df631941",
              "name": "Ocorrencia",
              "value": "={{ $('relatório de status Consulta1').item.json['Descrição'] }}",
              "type": "string"
            },
            {
              "id": "245fb29a-3ad5-419e-b2c8-c42eb4580009",
              "name": "dt_previsao_corrigido",
              "value": "={{ $('relatório de status Consulta1').item.json.dt_previsao_corrigido}}",
              "type": "string"
            },
            {
              "id": "b08d21fb-bae5-4ed2-883c-01f43c8f1dc0",
              "name": "Status_CTE",
              "value": "={{ $('relatório de status Consulta1').item.json.Status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        1920
      ],
      "id": "0b1d99fc-ced2-4ac0-bffe-4806120af468",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorioentrega_export",
          "mode": "list",
          "cachedResultName": "relatorioentrega_export"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Evento",
              "value": "Em rota"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        1920
      ],
      "id": "6acbc4c0-95f9-4d11-b7b0-50f690d49880",
      "name": "relatório de entregas Ctes3",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "matriculos_jad",
          "mode": "list",
          "cachedResultName": "matriculos_jad"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "OperadorMatricula",
              "value": "={{ $json.OperadorMatricula }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        1920
      ],
      "id": "aa235353-1ae3-4a91-a2a8-08588611403e",
      "name": "cadastro de motoristas2",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "list",
          "cachedResultName": "lista_entregas"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Número",
              "value": "={{ $('relatório de entregas Ctes3').item.json.Lista }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        1920
      ],
      "id": "b0a9d460-d25e-4f39-9ff0-14040df1ad50",
      "name": "relatório de status atual",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1360,
        1920
      ],
      "id": "94e752e9-fd20-4b34-8ee7-d1573d6a7dbc",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        1920
      ],
      "id": "b2c3c33a-3eb7-4d49-ab59-720c8b7ccb5d",
      "name": "Schedule Trigger3"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "consulta",
          "mode": "list",
          "cachedResultName": "consulta"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Código",
              "value": "={{ $('relatório de entregas Ctes3').item.json.NCTE }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        1920
      ],
      "id": "aabbac18-a01e-4bf7-8849-19cdd9d408d3",
      "name": "relatório de status Consulta1",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dba0f91e-700b-449a-9dcb-a7936c91abdf",
              "name": "Lista",
              "value": "={{ $('relatório de entregas Ctes').item.json.Lista }}",
              "type": "string"
            },
            {
              "id": "5b193e21-5a43-402b-9779-e311385d0d19",
              "name": "nome_completo",
              "value": "={{ $('cadastro de motoristas').item.json.nome_completo }}",
              "type": "string"
            },
            {
              "id": "c5b197f6-e989-42ed-9eb1-c803745e3735",
              "name": "Código",
              "value": "={{ $('relatório de status Consulta').item.json['Código'] }}",
              "type": "string"
            },
            {
              "id": "ebabbb04-d975-49e1-b4c2-7946daebedb7",
              "name": "Dt Evento",
              "value": "={{ $('relatório de status Consulta').item.json['Dt Evento'] }}",
              "type": "string"
            },
            {
              "id": "3caf15a0-e54f-4a27-aa7c-d6f38c822780",
              "name": "status",
              "value": "={{ $('Listas de entregas').item.json.status }}",
              "type": "string"
            },
            {
              "id": "f8734a52-c1d9-49d2-a580-fb16df631941",
              "name": "Ocorrencia",
              "value": "={{ $('relatório de status Consulta').item.json['Descrição'] }}",
              "type": "string"
            },
            {
              "id": "00c1167c-427c-4caf-aefd-aaef7f7c30cd",
              "name": "Evento",
              "value": "={{ $('relatório de entregas Ctes').item.json.Evento }}",
              "type": "string"
            },
            {
              "id": "245fb29a-3ad5-419e-b2c8-c42eb4580009",
              "name": "dt_previsao_corrigido",
              "value": "={{ $('relatório de status Consulta').item.json.dt_previsao_corrigido}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        1728
      ],
      "id": "70e974de-edb6-4ea5-8e64-cfbeb4c5e633",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "consulta",
          "mode": "list",
          "cachedResultName": "consulta"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "Código",
              "value": "={{ $json.NCTE }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1296,
        1728
      ],
      "id": "7c2b9102-659f-4870-b150-a7d9be7f4003",
      "name": "relatório de status Consulta",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "list",
          "cachedResultName": "lista_entregas"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "status",
              "value": "Em aberto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1856,
        1728
      ],
      "id": "e7872781-51b8-4df9-b254-237428f00a78",
      "name": "Listas de entregas",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "listas-reset",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        32
      ],
      "id": "d9f3601c-6b66-4cf7-8b2a-e979ca789647",
      "name": "Webhook8",
      "webhookId": "78c0ebb3-28bf-4ad8-9e4c-a52c1ef9ecdb"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.acao }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d8ff2e04-e7c7-4789-8fcb-636ba9bb43ba"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "19462df3-cd2c-40d7-a6cd-c99111da12aa",
                    "leftValue": "={{ $json.body.acao }}",
                    "rightValue": "reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reset"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -672,
        32
      ],
      "id": "6bc2231b-30ec-4295-8920-b1942c4a3dea",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "list",
          "cachedResultName": "lista_entregas"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "Número",
              "value": "={{ $json.body.numero_lista }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -400,
        -80
      ],
      "id": "bb62c21e-c6a3-4da6-a58d-193c550c3853",
      "name": "Delete table or rows1",
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lista_entregas",
          "mode": "list",
          "cachedResultName": "lista_entregas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número": "={{ $json.body.numero_lista }}",
            "qtd_ctes": "={{ null }}"
          },
          "matchingColumns": [
            "Número"
          ],
          "schema": [
            {
              "id": "Número",
              "displayName": "Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qtd",
              "displayName": "Qtd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Peso",
              "displayName": "Peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data Emissão",
              "displayName": "Data Emissão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data Baixa",
              "displayName": "Data Baixa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rota",
              "displayName": "Rota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pago",
              "displayName": "pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "metrica_da_lista",
              "displayName": "metrica_da_lista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "matricula_motorista",
              "displayName": "matricula_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "obs",
              "displayName": "obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "revisado",
              "displayName": "revisado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ok_motorista",
              "displayName": "ok_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "revisao_motorista",
              "displayName": "revisao_motorista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "qtd_ctes",
              "displayName": "qtd_ctes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        176
      ],
      "id": "3fc0c97b-f00b-43fe-ac65-db48a0ad14fe",
      "name": "Update rows in a table1",
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorioentrega_export",
          "mode": "list",
          "cachedResultName": "relatorioentrega_export"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "Lista",
              "value": "={{ $json['Número'].toString() }}"
            },
            {
              "column": "Evento",
              "value": "Em rota"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -160,
        176
      ],
      "id": "d01badc2-e7c2-41b5-b1ab-6988ddcf312d",
      "name": "Delete table or rows2",
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "relatorioentrega_export",
          "mode": "list",
          "cachedResultName": "relatorioentrega_export"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "Lista",
              "value": "={{ $json['Número'].toString() }}"
            },
            {
              "column": "Evento",
              "value": "Em rota"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        -80
      ],
      "id": "1f4fe9c1-a3ec-4954-bdcc-8248af880dcd",
      "name": "Delete table or rows3",
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Envio de Dados das Listas</title>\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n  <style>\n    body { padding: 20px; background: #f8f9fa; }\n    .preview-table { max-height: 650px; overflow: auto; }\n    textarea { font-family: monospace; font-size: 14px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h2 class=\"mb-4\">📦 Envio de Listas + Motorista + CTes</h2>\n\n    <!-- ETAPA 1 -->\n    <div class=\"card mb-5\">\n      <div class=\"card-header bg-primary text-white\">\n        <h5>1️⃣ Etapa 1 – Cole os dados das Listas</h5>\n      </div>\n      <div class=\"card-body\">\n        <textarea id=\"entradaListas\" class=\"form-control\" rows=\"15\" placeholder=\"Cole aqui a tabela completa...\"></textarea>\n        <button class=\"btn btn-primary mt-3\" onclick=\"processarEEnviarListas()\">Enviar Listas para o Banco</button>\n      </div>\n    </div>\n\n    <!-- ETAPA 2 -->\n    <div class=\"card\">\n      <div class=\"card-header bg-success text-white d-flex justify-content-between\">\n        <h5>2️⃣ Etapa 2 – Listas Pendentes</h5>\n        <button class=\"btn btn-light btn-sm\" onclick=\"carregarListasPendentes()\">🔄 Atualizar Lista</button>\n      </div>\n      <div class=\"card-body\">\n        <div id=\"previewPendentes\" class=\"preview-table\">\n          <p class=\"text-muted text-center py-4\">Clique em Atualizar Lista...</p>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <!-- Modal Informar Métrica (novo - obrigatório) -->\n  <div class=\"modal fade\" id=\"modalMetrica\" tabindex=\"-1\">\n    <div class=\"modal-dialog\">\n      <div class=\"modal-content\">\n        <div class=\"modal-header\">\n          <h5 class=\"modal-title\">Informar Métrica – Lista <span id=\"modalNumListaMetrica\" class=\"text-primary\"></span></h5>\n          <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\"></button>\n        </div>\n        <div class=\"modal-body\">\n          <label class=\"form-label\">Selecione a Métrica da Lista:</label>\n          <select id=\"selectMetrica\" class=\"form-select\">\n            <option value=\"\">Selecione...</option>\n            <option value=\"Por Entrega\">Por Entrega</option>\n            <option value=\"Volumoso\">Volumoso</option>\n            <option value=\"Apha\">Apha</option>\n            <option value=\"Baixa\">Baixa</option>\n          </select>\n        </div>\n        <div class=\"modal-footer\">\n          <button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Cancelar</button>\n          <button type=\"button\" class=\"btn btn-success\" onclick=\"salvarMetrica()\">✅ Confirmar Métrica</button>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <!-- Modal Motorista -->\n  <div class=\"modal fade\" id=\"modalMotorista\" tabindex=\"-1\">\n    <div class=\"modal-dialog\">\n      <div class=\"modal-content\">\n        <div class=\"modal-header\">\n          <h5 class=\"modal-title\">Definir Motorista – Lista <span id=\"modalNumListaMotor\" class=\"text-primary\"></span></h5>\n          <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\"></button>\n        </div>\n        <div class=\"modal-body\">\n          <label class=\"form-label\">Selecione o Motorista:</label>\n          <select id=\"selectMotorista\" class=\"form-select\" size=\"10\"></select>\n        </div>\n        <div class=\"modal-footer\">\n          <button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Cancelar</button>\n          <button type=\"button\" class=\"btn btn-success\" onclick=\"salvarMotorista()\">✅ Confirmar Motorista</button>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <!-- Modal CTes -->\n  <div class=\"modal fade\" id=\"modalCtes\" tabindex=\"-1\">\n    <div class=\"modal-dialog modal-xl\">\n      <div class=\"modal-content\">\n        <div class=\"modal-header\">\n          <h5 class=\"modal-title\">Adicionar CTes – Lista <span id=\"modalNumListaCtes\" class=\"text-primary\"></span></h5>\n          <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\"></button>\n        </div>\n        <div class=\"modal-body\">\n          <p class=\"text-muted\">Cole o relatório de CTes desta lista:</p>\n          <textarea id=\"entradaCtesModal\" class=\"form-control\" rows=\"16\"></textarea>\n        </div>\n        <div class=\"modal-footer\">\n          <button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Cancelar</button>\n          <button type=\"button\" class=\"btn btn-success\" onclick=\"processarCtesModal()\">✅ Salvar CTes</button>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js\"></script>\n  <script>\n    const WEBHOOK_LISTAS      = \"https://webhook.sactudo.com.br/webhook/listass\";\n    const WEBHOOK_PENDENTES   = \"https://webhook.sactudo.com.br/webhook/listas-pendentes\";\n    const WEBHOOK_MOTORISTAS  = \"https://webhook.sactudo.com.br/webhook/matricula_lista\";\n    const WEBHOOK_MATRICULA   = \"https://webhook.sactudo.com.br/webhook/matricula_lista\";\n    const WEBHOOK_METRICA     = \"https://webhook.sactudo.com.br/webhook/metrica_lista\";\n    const WEBHOOK_CTES        = \"https://webhook.sactudo.com.br/webhook/ctes\";\n\n    let listaAtual = null;\n    let matriculaAtualDaLista = null;\n    let metricaAtualDaLista = null;\n\n    // ====================== FUNÇÃO QUE VOCÊ FORNECEU (integrada) ======================\n    function parseListas(texto) {\n      const linhas = texto.trim().split(\"\\n\").filter(l => l.trim() !== \"\");\n      const dados = [];\n      const erros = [];\n      const startIndex = linhas[0].toLowerCase().includes(\"número\") ? 1 : 0;\n\n      for (let i = startIndex; i < linhas.length; i++) {\n        const linha = linhas[i].trim();\n        if (!linha) continue;\n\n        // Prioridade: split por TAB\n        let partes = linha.split(\"\\t\").map(p => p.trim());\n        // Fallback: split por 2+ espaços\n        if (partes.length < 7) {\n          partes = linha.split(/\\s{2,}/).map(p => p.trim());\n        }\n        if (partes.length < 7) {\n          erros.push(`Linha ${i + 1} incompleta (${partes.length} colunas)`);\n          continue;\n        }\n\n        try {\n          const numero = parseInt(partes[0]);\n          const qtd = parseInt(partes[1]);\n          const peso = parseFloat(partes[2].replace(\",\", \".\")) || 0;\n          const valor = parseFloat(partes[3].replace(\"R$\", \"\").replace(\".\", \"\").replace(\",\", \".\")) || 0;\n          const dataEmissao = parseDateToISO(partes[4]);\n\n          // partes[5] = Data Baixa OU \"Em aberto\"\n          const campoBaixa = partes[5] || \"\";\n          let dataBaixa = null;\n          let status = \"Em aberto\";\n          let offsetTipo = 6;\n\n          if (campoBaixa.toLowerCase().includes(\"aberto\") || campoBaixa.trim() === \"\") {\n            dataBaixa = null;\n            status = \"Em aberto\";\n            offsetTipo = 6;\n          } else if (campoBaixa.match(/^\\d{2}\\/\\d{2}\\/\\d{4}/)) {\n            dataBaixa = parseDateToISO(campoBaixa);\n            status = \"Finalizado\";\n            offsetTipo = 6;\n          }\n\n          const tipo = partes[offsetTipo] || \"\";\n          const rota = partes.slice(offsetTipo + 1).join(\" \").trim();\n\n          if (isNaN(numero) || isNaN(qtd)) {\n            erros.push(`Linha ${i + 1} com número/qtd inválido`);\n            continue;\n          }\n\n          dados.push({\n            numero,\n            qtd,\n            peso,\n            valor,\n            data_emissao: dataEmissao,\n            data_baixa: dataBaixa,\n            status,\n            tipo,\n            rota,\n            nome_completo: null,\n            qtd_ctes: 0\n          });\n        } catch (e) {\n          erros.push(`Linha ${i + 1} erro: ${e.message}`);\n        }\n      }\n\n      if (erros.length > 0) alert(\"Erros encontrados:\\n\" + erros.join(\"\\n\"));\n      return { dados, erros };\n    }\n\n    function parseDateToISO(dateStr) {\n      if (!dateStr || dateStr.toLowerCase().includes(\"aberto\")) return null;\n      try {\n        const [data, hora] = dateStr.split(\" \");\n        const [dia, mes, ano] = data.split(\"/\");\n        const [h, m, s = \"00\"] = (hora || \"00:00:00\").split(\":\");\n        const dt = new Date(ano, mes - 1, dia, h, m, s);\n        return isNaN(dt.getTime()) ? null : dt.toISOString().replace(\"Z\", \"-03:00\");\n      } catch (e) {\n        return null;\n      }\n    }\n\n    // ====================== Envio das Listas ======================\n    function processarEEnviarListas() {\n      const texto = document.getElementById(\"entradaListas\").value.trim();\n      if (!texto) return alert(\"Cole os dados das listas!\");\n\n      const { dados } = parseListas(texto);\n      if (dados.length === 0) return;\n\n      fetch(WEBHOOK_LISTAS, {\n        method: \"POST\",\n        headers: { \"Content-Type\": \"application/json\" },\n        body: JSON.stringify(dados)\n      })\n      .then(r => r.text())\n      .then(txt => {\n        alert(`✅ ${dados.length} listas enviadas com sucesso!\\n${txt}`);\n        document.getElementById(\"entradaListas\").value = \"\";\n      })\n      .catch(err => alert(\"Erro no envio: \" + err.message));\n    }\n\n\n    // ====================== ETAPA 2 ======================\n    async function carregarListasPendentes() {\n      const container = document.getElementById(\"previewPendentes\");\n      container.innerHTML = `<div class=\"text-center py-5\"><div class=\"spinner-border\"></div><p>Carregando...</p></div>`;\n\n      try {\n        const resp = await fetch(WEBHOOK_PENDENTES);\n        const listas = await resp.json();\n        const pendentes = listas.filter(l => l[\"qtd_ctes\"] == null || l[\"qtd_ctes\"] === 0);\n\n        if (pendentes.length === 0) {\n          container.innerHTML = `<div class=\"alert alert-success\">Todas as listas já possuem CTes.</div>`;\n          return;\n        }\n\n        let html = `<table class=\"table table-hover table-striped\"><thead class=\"table-dark\"><tr>\n          <th>Número</th><th>Qtd</th><th>Data Emissão</th><th>Status</th><th>Rota</th><th>Métrica</th><th>Motorista</th><th class=\"text-center\">Ações</th>\n        </tr></thead><tbody>`;\n\n        pendentes.forEach(l => {\n          const temMotorista = !!l[\"matricula_motorista\"];\n          const temMetrica = !!l[\"metrica_da_lista\"];\n          html += `<tr>\n            <td><strong>${l[\"Número\"]}</strong></td>\n            <td>${l[\"Qtd\"]}</td>\n            <td>${l[\"Data Emissão\"] ? l[\"Data Emissão\"].substring(0,16).replace(\"T\",\" \") : \"\"}</td>\n            <td>${l[\"status\"] || \"\"}</td>\n            <td>${l[\"Rota\"]}</td>\n            <td>${l[\"metrica_da_lista\"]}</td>\n            <td>${l[\"nome_completo\"] || \"—\"}</td>\n            <td class=\"text-center\">\n              <button class=\"btn btn-sm btn-info\" onclick=\"abrirModalMetrica(${l[\"Número\"]}); event.stopImmediatePropagation();\">Métrica</button>\n              <button class=\"btn btn-sm btn-warning\" onclick=\"abrirModalMotorista(${l[\"Número\"]}); event.stopImmediatePropagation();\">Motorista</button>\n              <button class=\"btn btn-sm ${temMotorista && temMetrica ? 'btn-success' : 'btn-secondary'}\" \n                      ${temMotorista && temMetrica ? '' : 'disabled'}\n                      onclick=\"abrirModalCtes(${l[\"Número\"]}); event.stopImmediatePropagation();\">CTes</button>\n            </td>\n          </tr>`;\n        });\n\n        html += `</tbody></table>`;\n        container.innerHTML = html;\n      } catch (e) {\n        container.innerHTML = `<div class=\"alert alert-danger\">Erro ao carregar listas.</div>`;\n      }\n    }\n\n    // ====================== Novo Modal: Métrica ======================\n    function abrirModalMetrica(numero) {\n      listaAtual = numero;\n      document.getElementById(\"modalNumListaMetrica\").textContent = numero;\n      document.getElementById(\"selectMetrica\").value = \"\";\n      new bootstrap.Modal(document.getElementById(\"modalMetrica\")).show();\n    }\n\n   async function salvarMetrica() {\n  const metrica = document.getElementById(\"selectMetrica\").value;\n  if (!metrica) return alert(\"Selecione uma métrica!\");\n\n  metricaAtualDaLista = metrica;\n\n  try {\n    await fetch(WEBHOOK_METRICA, {\n      method: \"POST\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({ numero_lista: listaAtual, metrica_da_lista: metrica })\n    });\n    alert(`✅ Métrica \"${metrica}\" salva!`);\n    bootstrap.Modal.getInstance(document.getElementById(\"modalMetrica\")).hide();\n    setTimeout(carregarListasPendentes, 500);\n  } catch (e) {\n    alert(\"Erro ao salvar métrica.\");\n  }\n}\n\n    // ====================== Modal Motorista ======================\n    async function abrirModalMotorista(numero) {\n      listaAtual = numero;\n      document.getElementById(\"modalNumListaMotor\").textContent = numero;\n      const select = document.getElementById(\"selectMotorista\");\n      select.innerHTML = `<option>Carregando...</option>`;\n      try {\n        const resp = await fetch(WEBHOOK_MOTORISTAS);\n        const motoristas = await resp.json();\n        let options = `<option value=\"\">Selecione...</option>`;\n        motoristas.forEach(m => {\n          options += `<option value=\"${m.OperadorMatricula}\">${m.OperadorMatricula} - ${m.nome_completo}</option>`;\n        });\n        select.innerHTML = options;\n      } catch (e) {}\n      new bootstrap.Modal(document.getElementById(\"modalMotorista\")).show();\n    }\n\n    async function salvarMotorista() {\n      const matricula = document.getElementById(\"selectMotorista\").value;\n      if (!matricula) return alert(\"Selecione um motorista!\");\n      matriculaAtualDaLista = parseInt(matricula);\n      try {\n        await fetch(WEBHOOK_MATRICULA, {\n          method: \"POST\",\n          headers: { \"Content-Type\": \"application/json\" },\n          body: JSON.stringify({ numero_lista: listaAtual, OperadorMatricula: matriculaAtualDaLista })\n        });\n        alert(\"✅ Motorista salvo!\");\n        bootstrap.Modal.getInstance(document.getElementById(\"modalMotorista\")).hide();\n        setTimeout(carregarListasPendentes, 600);\n      } catch (e) {\n        alert(\"Erro ao salvar motorista.\");\n      }\n    }\n\n    // ====================== Modal CTes ======================\n    async function abrirModalCtes(numero) {\n      listaAtual = numero;\n      document.getElementById(\"modalNumListaCtes\").textContent = numero;\n      document.getElementById(\"entradaCtesModal\").value = \"\";\n      try {\n        const resp = await fetch(WEBHOOK_PENDENTES);\n        const listas = await resp.json();\n        const listaInfo = listas.find(l => l[\"Número\"] == numero);\n        matriculaAtualDaLista = listaInfo && listaInfo[\"matricula_motorista\"] ? parseInt(listaInfo[\"matricula_motorista\"]) : null;\n      } catch (e) {}\n      new bootstrap.Modal(document.getElementById(\"modalCtes\")).show();\n    }\n\n    async function processarCtesModal() {\n      const texto = document.getElementById(\"entradaCtesModal\").value.trim();\n      if (!texto) return alert(\"Cole os CTes!\");\n      if (!matriculaAtualDaLista) return alert(\"❌ Defina o motorista antes!\");\n\n      const ctes = parseCtes(texto, listaAtual);\n      if (ctes.length === 0) return alert(\"Nenhum CTe válido!\");\n\n      try {\n        await fetch(WEBHOOK_CTES, {\n          method: \"POST\",\n          headers: { \"Content-Type\": \"application/json\" },\n          body: JSON.stringify(ctes)\n        });\n        alert(`✅ ${ctes.length} CTes salvos!`);\n        bootstrap.Modal.getInstance(document.getElementById(\"modalCtes\")).hide();\n        setTimeout(carregarListasPendentes, 700);\n      } catch (e) {\n        alert(\"Erro ao salvar CTes.\");\n      }\n    }\n\n   function parseCtes(texto, numeroLista) {\n  const linhas = texto.split(\"\\n\").filter(l => l.trim() !== \"\");\n  const ctes = [];\n\n  const startIndex = linhas[0].toLowerCase().includes(\"remessa\") ? 1 : 0;\n\n  linhas.slice(startIndex).forEach((linha, idx) => {\n    let partes = linha.split(\"\\t\").map(p => p.trim());\n    if (partes.length < 2) partes = linha.split(/\\s{2,}/).map(p => p.trim());\n\n    // Mínimo: remessa + destinatário (tolera linhas sem telefone/data)\n    if (partes.length < 6) {\n      console.warn(`CTe linha ${idx + 1 + startIndex} ignorada:`, linha);\n      return;\n    }\n\n    const dataAgendada = partes[7] && partes[7].trim() !== \"\" ? partes[7].trim() : null;\n\n    ctes.push({\n      remessa:             partes[0],\n      endereco:            partes[1],\n      bairro:              partes[2],\n      cidade:              partes[3],\n      cep:                 partes[4],\n      destinatario:        partes[5],\n      telefone:            partes[6] || null,\n      data_agendada:       dataAgendada,\n      numero_lista:        numeroLista,\n      matricula_motorista: matriculaAtualDaLista,\n      metrica_da_lista:    metricaAtualDaLista     // ← estava faltando\n    });\n  });\n\n  return ctes;\n}\n\n    window.onload = carregarListasPendentes;\n  </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        304,
        0
      ],
      "id": "a999e5ec-1186-4c25-a22c-7b20c1717fe8",
      "name": "HTML3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    lista_entregas.*,\n    matriculos_jad.nome_completo\nFROM lista_entregas\nLEFT JOIN matriculos_jad\n    ON lista_entregas.matricula_motorista = CAST(matriculos_jad.\"OperadorMatricula\" AS varchar)\nWHERE lista_entregas.status = 'Em aberto' \n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        2624
      ],
      "id": "e14f1dd7-0931-427c-8fce-9d5b76760ba6",
      "name": "Execute a SQL query3",
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: items vindos do Postgres\n// Saída: agrupado por matricula_motorista\n\nconst dados = items.map(item => item.json);\n\n// Agrupar por matricula_motorista\nconst agrupado = {};\n\nfor (const registro of dados) {\n  const matricula = registro.matricula_motorista;\n  const numero = registro.Número;\n\n  if (!agrupado[matricula]) {\n    agrupado[matricula] = [];\n  }\n  agrupado[matricula].push(numero);\n}\n\n// Transformar em array de objetos\nconst resultado = Object.entries(agrupado).map(([matricula, numeros]) => {\n  return {\n    json: {\n      matricula_motorista: matricula,\n      numeros: numeros.join(\",\") // string separada por vírgula\n    }\n  };\n});\n\nreturn resultado;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        2624
      ],
      "id": "2963b6a7-7734-4edc-b057-f007de133a25",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        2592
      ],
      "id": "68b4fb6c-cd52-418c-822d-a9c42b171657",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        480,
        2464
      ],
      "id": "4e1df4b9-6214-4f79-8c77-818da5aba4fb",
      "placeholder": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "matriculos_jad",
          "mode": "list",
          "cachedResultName": "matriculos_jad"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "OperadorMatricula",
              "value": "={{ $json.matricula_motorista }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        2608
      ],
      "id": "a498f8f1-4434-4d8c-85da-d24685e943a2",
      "name": "cadastro de motoristas3",
      "credentials": {
        "postgres": {
          "id": "vIu78ExABVR8spO3",
          "name": "Postgres JadLog"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c451582f-6fe4-4b05-903e-5a11a0f04f78",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "356c793d-b3ef-49f3-9452-f59b774037dd",
              "name": "nome_completo",
              "value": "={{ $json.nome_completo }}",
              "type": "string"
            },
            {
              "id": "95cf630f-cd6d-46bb-a6f4-57cd39d7f1f4",
              "name": "numeros",
              "value": "={{ $('Code in JavaScript1').item.json.numeros }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        2592
      ],
      "id": "50ae56c5-c342-4f4a-877a-643d08003bd8",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "resource": "Contacts",
        "operation": "Contact Search",
        "account_id": 8,
        "q": "={{ $json.contacts[0].wa_id }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-chatwoot.chatWoot",
      "typeVersion": 1,
      "position": [
        832,
        2656
      ],
      "id": "cb813121-f1b9-41f9-95cd-0bc5cec2c22a",
      "name": "Search Contacts",
      "credentials": {
        "chatwootApi": {
          "id": "Ra2ejoRm4nNITuzx",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.sactudo.com.br/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.display_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "JwNJSrEaxWmmEtRS6mDKHxAB"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Listas: {{ $('Edit Fields3').item.json.numeros }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        2736
      ],
      "id": "4e516d3d-448b-459a-ae5f-b3f5c4554aeb",
      "name": "HTTP Request4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversations",
          "mode": "list",
          "cachedResultName": "conversations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "account_id",
              "value": "=8"
            },
            {
              "column": "inbox_id",
              "value": "={{ $json.payload[0].contact_inboxes[0].inbox.id }}"
            },
            {
              "column": "contact_id",
              "value": "={{ $json.payload[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1104,
        2720
      ],
      "id": "d8ad4aa4-91da-4e73-a850-1f0560f6c46a",
      "name": "conversa",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jE4KenUygtBaB3fY",
          "name": "Postgres CW"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1015157071684083/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAA33ZCdsDRkoBQ60ggRFQCI28OhVWvBhCTOT2cVxO8VgjM2h3jjoXyQ9MiUaVxuk2S7V0HKgTnZCjG8Aph52XL3IVeY6jAcHYfYU0GjkcqIuVuAvCDJbw0QJpXr5eLhsTqbUOMc4NlrQKSTR2JBW5EHQBnzL9dnWIAzX5KUr3heDJhKw6oUNcBgW0FFgZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.telefone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"listas_pendentes\",\n    \"language\": {\n      \"code\": \"pt_BR\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $json.numeros }}\"\n          }, {\n            \"type\": \"text\",\n            \"text\": \"12\"\n          }\n        ]\n      }\n    ]\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        2640
      ],
      "id": "c618b68e-8cc5-452b-9b94-c59dae9afde4",
      "name": "zapmeta"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Zap_Listas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        2624
      ],
      "id": "09863c06-a66e-4a05-b3c2-3005e89cb9f1",
      "name": "Webhook9",
      "webhookId": "b3c6c0b5-2174-4f43-9d2c-824fd23d625b"
    }
  ],
  "pinData": {
    "Webhook4": [
      {
        "json": {
          "headers": {
            "host": "webhook.sactudo.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 Edg/146.0.0.0",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6,pl;q=0.5",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Microsoft Edge\";v=\"146\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "200.170.78.69",
            "x-forwarded-host": "webhook.sactudo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "68b49494b1ea",
            "x-real-ip": "200.170.78.69"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://webhook.sactudo.com.br/webhook/matricula_lista",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook5": [
      {
        "json": {
          "headers": {
            "host": "webhook.sactudo.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 Edg/146.0.0.0",
            "content-length": "47",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6,pl;q=0.5",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Microsoft Edge\";v=\"146\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "200.170.78.69",
            "x-forwarded-host": "webhook.sactudo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "68b49494b1ea",
            "x-real-ip": "200.170.78.69"
          },
          "params": {},
          "query": {},
          "body": {
            "numero_lista": 140,
            "OperadorMatricula": 126369
          },
          "webhookUrl": "https://webhook.sactudo.com.br/webhook/matricula_lista",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook6": [
      {
        "json": {
          "headers": {
            "host": "webhook.sactudo.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 Edg/146.0.0.0",
            "content-length": "51",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6,pl;q=0.5",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Microsoft Edge\";v=\"146\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "200.170.77.207",
            "x-forwarded-host": "webhook.sactudo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "68b49494b1ea",
            "x-real-ip": "200.170.77.207"
          },
          "params": {},
          "query": {},
          "body": {
            "numero_lista": 2756,
            "metrica_da_lista": "Volumoso"
          },
          "webhookUrl": "https://webhook.sactudo.com.br/webhook/metrica_lista",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook3": [
      {
        "json": {
          "headers": {
            "host": "webhook.sactudo.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 Edg/146.0.0.0",
            "content-length": "2382",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6,pl;q=0.5",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Microsoft Edge\";v=\"146\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "200.170.77.207",
            "x-forwarded-host": "webhook.sactudo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "68b49494b1ea",
            "x-real-ip": "200.170.77.207"
          },
          "params": {},
          "query": {},
          "body": [
            {
              "numero": 2771,
              "qtd": 34,
              "peso": 24.99,
              "valor": 0,
              "data_emissao": "06/04/2026 14:32:26 Em aberto",
              "data_baixa": null,
              "status": "Em aberto",
              "tipo": "Domicílio",
              "rota": "ROBSON",
              "matricula_motorista": null,
              "qtd_ctes": 0,
              "metrica_da_lista": null
            },
            {
              "numero": 2770,
              "qtd": 2,
              "peso": 2.46,
              "valor": 0,
              "data_emissao": "06/04/2026 14:26:00 Em aberto",
              "data_baixa": null,
              "status": "Em aberto",
              "tipo": "Domicílio",
              "rota": "ROBSON VOLUMOSO",
              "matricula_motorista": null,
              "qtd_ctes": 0,
              "metrica_da_lista": null
            },
            {
              "numero": 2769,
              "qtd": 108,
              "peso": 53.72,
              "valor": 0,
              "data_emissao": "06/04/2026 14:05:44 Em aberto",
              "data_baixa": null,
              "status": "Em aberto",
              "tipo": "Domicílio",
              "rota": "BRUNO CESAR",
              "matricula_motorista": null,
              "qtd_ctes": 0,
              "metrica_da_lista": null
            },
            {
              "numero": 2767,
              "qtd": 114,
              "peso": 114.13,
              "valor": 0,
              "data_emissao": "06/04/2026 13:52:15 Em aberto",
              "data_baixa": null,
              "status": "Em aberto",
              "tipo": "Domicílio",
              "rota": "ALESSANDRO",
              "matricula_motorista": null,
              "qtd_ctes": 0,
              "metrica_da_lista": null
            },
            {
              "numero": 2766,
              "qtd": 10,
              "peso": 10.25,
              "valor": 0,
              "data_emissao": "06/04/2026 12:17:11 Em aberto",
              "data_baixa": null,
              "status": "Em aberto",
              "tipo": "Domicílio",
              "rota": "DERIVALDO",
              "matricula_motorista": null,
              "qtd_ctes": 0,
              "metrica_da_lista": null
            },
            {
              "numero": 2765,
              "qtd": 4,
              "peso": 9.97,
              "valor": 0,
              "data_emissao": "06/04/2026 12:04:36 Em aberto",
              "data_baixa": null,
              "status": "Em aberto",
              "tipo": "Domicílio",
              "rota": "EDROALDO",
              "matricula_motorista": null,
              "qtd_ctes": 0,
              "metrica_da_lista": null
            },
            {
              "numero": 2764,
              "qtd": 39,
              "peso": 23.28,
              "valor": 0,
              "data_emissao": "06/04/2026 12:02:10 Em aberto",
              "data_baixa": null,
              "status": "Em aberto",
              "tipo": "Domicílio",
              "rota": "EDROALDO",
              "matricula_motorista": null,
              "qtd_ctes": 0,
              "metrica_da_lista": null
            },
            {
              "numero": 2763,
              "qtd": 131,
              "peso": 144.75,
              "valor": 0,
              "data_emissao": "06/04/2026 11:44:01 Em aberto",
              "data_baixa": null,
              "status": "Em aberto",
              "tipo": "Domicílio",
              "rota": "DERIVALDO",
              "matricula_motorista": null,
              "qtd_ctes": 0,
              "metrica_da_lista": null
            },
            {
              "numero": 2762,
              "qtd": 1,
              "peso": 1.68,
              "valor": 0,
              "data_emissao": "06/04/2026 08:57:22 Em aberto",
              "data_baixa": null,
              "status": "Em aberto",
              "tipo": "Domicílio",
              "rota": "EDUARDO ARAUJO",
              "matricula_motorista": null,
              "qtd_ctes": 0,
              "metrica_da_lista": null
            },
            {
              "numero": 2761,
              "qtd": 1,
              "peso": 1.68,
              "valor": 0,
              "data_emissao": "06/04/2026 08:54:53 Em aberto",
              "data_baixa": null,
              "status": "Em aberto",
              "tipo": "Domicílio",
              "rota": "EDUARDO ARAUJO",
              "matricula_motorista": null,
              "qtd_ctes": 0,
              "metrica_da_lista": null
            }
          ],
          "webhookUrl": "https://webhook.sactudo.com.br/webhook/listass",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "webhook.sactudo.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 Edg/146.0.0.0",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6,pl;q=0.5",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Microsoft Edge\";v=\"146\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "200.170.77.4",
            "x-forwarded-host": "webhook.sactudo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "68b49494b1ea",
            "x-real-ip": "200.170.77.4"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://webhook.sactudo.com.br/webhook/listas-pendentes",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook7": [
      {
        "json": {
          "headers": {
            "host": "webhook.sactudo.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36 Edg/147.0.0.0",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6,pl;q=0.5",
            "cache-control": "max-age=0",
            "cookie": {
              "__redacted": true,
              "reason": "node_defined_field",
              "canReveal": false
            },
            "if-none-match": "W/\"20e0-Xwm+eJqEagTVcQ2b7JggJodz+zU\"",
            "priority": "u=0, i",
            "sec-ch-ua": "\"Microsoft Edge\";v=\"147\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "45.166.154.95",
            "x-forwarded-host": "webhook.sactudo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "8ad290b14122",
            "x-real-ip": "45.166.154.95"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://webhook.sactudo.com.br/webhook/PrevisaoRecebimento",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "webhook.sactudo.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6,pl;q=0.5",
            "cache-control": "max-age=0",
            "cookie": {
              "__redacted": true,
              "reason": "node_defined_field",
              "canReveal": false
            },
            "priority": "u=0, i",
            "sec-ch-ua": "\"Chromium\";v=\"148\", \"Microsoft Edge\";v=\"148\", \"Not/A)Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "200.170.78.169",
            "x-forwarded-host": "webhook.sactudo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f0afdfe2020e",
            "x-real-ip": "200.170.78.169"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://webhook.sactudo.com.br/webhook/listas-motorista",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.sactudo.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0",
            "content-length": "513",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6,pl;q=0.5",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"148\", \"Microsoft Edge\";v=\"148\", \"Not/A)Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "45.166.154.126",
            "x-forwarded-host": "webhook.sactudo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f0afdfe2020e",
            "x-real-ip": "45.166.154.126"
          },
          "params": {},
          "query": {},
          "body": [
            {
              "remessa": "Número",
              "endereco": "Qtd",
              "bairro": "Peso",
              "cidade": "Valor",
              "cep": "Data Emissão",
              "destinatario": "Data Baixa",
              "telefone": "Tipo",
              "data_agendada": "Rota",
              "numero_lista": 3632,
              "matricula_motorista": 128448,
              "metrica_da_lista": "Por Entrega"
            },
            {
              "remessa": "3632",
              "endereco": "1",
              "bairro": "0,37",
              "cidade": "R$ 0,00",
              "cep": "20/05/2026 15:22:05",
              "destinatario": "Em aberto",
              "telefone": "Domicílio",
              "data_agendada": "ESTEVO REENTREGA 2",
              "numero_lista": 3632,
              "matricula_motorista": 128448,
              "metrica_da_lista": "Por Entrega"
            }
          ],
          "webhookUrl": "https://webhook.sactudo.com.br/webhook/ctes",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook8": [
      {
        "json": {
          "headers": {
            "host": "webhook.sactudo.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0",
            "content-length": "36",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6,pl;q=0.5",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"148\", \"Microsoft Edge\";v=\"148\", \"Not/A)Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "45.166.154.126",
            "x-forwarded-host": "webhook.sactudo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f0afdfe2020e",
            "x-real-ip": "45.166.154.126"
          },
          "params": {},
          "query": {},
          "body": {
            "numero_lista": 3488,
            "acao": "reset"
          },
          "webhookUrl": "https://webhook.sactudo.com.br/webhook/listas-reset",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook9": [
      {
        "json": {
          "headers": {
            "host": "webhook.sactudo.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0",
            "content-length": "117",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6,pl;q=0.5",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"148\", \"Microsoft Edge\";v=\"148\", \"Not/A)Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "45.166.155.123",
            "x-forwarded-host": "webhook.sactudo.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f0afdfe2020e",
            "x-real-ip": "45.166.155.123"
          },
          "params": {},
          "query": {},
          "body": {
            "acao": "enviar_listas_pendentes",
            "total_motoristas": 11,
            "total_pendentes": 207,
            "timestamp": "2026-05-29T23:37:00.672Z"
          },
          "webhookUrl": "https://webhook.sactudo.com.br/webhook/Zap_Listas",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert or update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table1": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook4": {
      "main": [
        [
          {
            "node": "listar_motoristas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listar_motoristas": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook5": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert or update rows in a table3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        []
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook6": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Select rows from a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table2": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relatório de entregas Ctes": {
      "main": [
        [
          {
            "node": "relatório de status Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastro de motoristas": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table3": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Listas de entregas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relatório de status atual2": {
      "main": [
        [
          {
            "node": "relatório de entregas Ctes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "relatório de status atual2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relatório de entregas Ctes1": {
      "main": [
        [
          {
            "node": "relatório de entregas Ctes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relatório de entregas Ctes2": {
      "main": [
        [
          {
            "node": "cadastro de motoristas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastro de motoristas1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook7": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Select rows from a table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relatório de entregas Ctes3": {
      "main": [
        [
          {
            "node": "cadastro de motoristas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastro de motoristas2": {
      "main": [
        [
          {
            "node": "relatório de status Consulta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relatório de status atual": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "relatório de entregas Ctes3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relatório de status Consulta1": {
      "main": [
        [
          {
            "node": "relatório de status atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relatório de status Consulta": {
      "main": [
        [
          {
            "node": "cadastro de motoristas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listas de entregas": {
      "main": [
        [
          {
            "node": "relatório de entregas Ctes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook8": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Delete table or rows1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table1": {
      "main": [
        [
          {
            "node": "Delete table or rows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows1": {
      "main": [
        [
          {
            "node": "Delete table or rows3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "cadastro de motoristas3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "zapmeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "cadastro de motoristas3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contacts": {
      "main": [
        [
          {
            "node": "conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "conversa": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zapmeta": {
      "main": [
        [
          {
            "node": "Search Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook9": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 3,
    "redactionPolicy": "none"
  },
  "versionId": "e16a72a4-a1a5-4292-a604-6eb014e1734b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1f2216d7347cf769726185925ae07114c4973b80c7c25593f572a165e156a73"
  },
  "nodeGroups": [],
  "id": "aOGgnz8wEbMiBDst",
  "tags": []
}